

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  font-size: 62.50%;
  font-family: 'Oxanium', cursive;
  
  @media(max-width: $bp-largest){
    font-size: 56.25%;
  }
  @media(max-width: $bp-mid-large){
    font-size: 50%;
  }
  @media(max-width: $bp-large){
    font-size: 43.75%;
  }
  @media(max-width: $bp-medium){
    font-size: 37.5%;
  }
  @media(max-width: $bp-medium){
    font-size: 25.5%;
  }


  ::-webkit-scrollbar {
    display: none;
}
}
body{
  background-color: $base-color;
  -webkit-touch-callout: none; /* IOS Safari */
  -webkit-user-select:none;/* Safari */
  -khtml-user-select:none; /* Konqueror HTML */
  -moz-user-select: none;/* Old versions of FireFox */
  -ms-user-select: none;/* Internet Explorer/ Edge */
  user-select: none;/* Non-prefixed version, currently supported by Chrome, Opera */
}
