.contact{
  grid-column: main;
  grid-row: 6/span 1;
  position: relative;
  opacity:0;
  transform: translateY(-8rem);

}
.refContact{
  grid-column: main;
  grid-row: 6/span 1;
  position: relative;
  opacity:1;
  transform: translateY(0);
  transition: all 1s ;

}