.home{
  padding:40rem 20rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
  // background-image: url('../assets/bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // background-color: aqua;
  
  @media(max-width: $bp-medium){
    // height: 60vh;
    
  }
  @media(max-width: $bp-small){
    padding:40rem 10rem;
    // height: 50vh;
    // margin-bottom: 10rem;
    
  }
  
  &__text{
    font-size: 4.5rem;
    line-height: 5rem;
    color: $white-color2;
    font-weight: 200;
    opacity: 0;
    margin-right: 30rem;
  }
  &__highlight{
    color: #e31b6d;
    display: inline-block;
  }
  &__button{
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 5rem;
    padding: 1rem 2rem;
    transition: all 0.5s;
    margin-top: 1rem;
    opacity: 0;
    margin-right: 30rem;
    
    
  }
  &__arr{
    margin-left: 1rem;
    transition: all 0.5s;
  }
}



.animation{
  &__text{
    font-size: 4.5rem;
    line-height: 5rem;
    color: $white-color2;
    font-weight: 200;
    opacity: 1;
    margin-bottom: 1rem;
  }
  &__text1{
    transition: all 1s;
    
  }
  &__text2{
    transition: all 1s;
    transition-delay: 1s;
  }
  &__button{
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem 2rem;
    transition: all 1s;
    transition-delay: 2s;
    transition-property: margin-right,opacity;
    margin-top: 1rem;
    &:hover .home__arr{
      transform: rotate(90deg);
    }
    &:hover{
      background-color: #e31b6d;
      border-color: #e31b6d;
    }
  }
  
}