.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 24rem;
  z-index:4;
  
  background-color: transparent;
  height: 7rem;
  top: 0;
  left: 0;
  overflow: hidden;
  &__bg{
    background-color: $base-color;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 24rem;
    z-index:4;
    height: 7rem;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &__welcomeTxt{
    font-size: 2rem;
    text-transform: uppercase;
    color: $white-color;
    font-weight: 200;
    letter-spacing: 5px;
    text-align: center;
    transition: 0.5s;
  }
  
  //////LOGO AND NAME
  &__logo-box{
   
    text-align: center;
   

  }
  
  &__logo{
    transform:rotate(45deg) ;
    width: 3rem;
    margin-bottom: 1rem;
    fill: #fff;
  }
  ///////SEARCH-BOX
  &__nav{
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after{
      content: '';
      display: block;
      width: 80vw;
      height: 1px;
      background-color: #fff;
      
      
    }
  }
  &__item{
    margin-right: 1rem;
  }
  &__link{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
    padding: 1rem;
    transition: all .3s ease-out ;
    &:hover{
      border-bottom: 2px solid #e31b6d;
      
    }
  }
}



