.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 20rem;
  z-index:4;
  border-bottom: 1px solid $white-color2;
  background-color: $base-color;
  
  
  height: 7rem;
  width: 100%;
  top: 0;
  left: 0;
  
  &__welcomeTxt{
    font-size: 2rem;
    text-transform: uppercase;
    color: $white-color;
    font-weight: 200;
    letter-spacing: 5px;
    text-align: center;
  }
  
  //////LOGO AND NAME
  &__logo-box{
   
    text-align: center;
   

  }
  
  &__logo{
    transform:rotate(45deg) ;
    width: 3rem;
    margin-bottom: 1rem;
    fill: #fff;
  }
  ///////SEARCH-BOX
  &__nav{
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item{
    margin-right: 4rem;
  }
  &__link{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
    padding: 1rem;
    transition: all .3s ease-out ;
    &:hover{
      border-bottom: 2px solid #e31b6d;
      
    }
  }
}


