.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 24rem;
  z-index:4;
  
  background-color: transparent;
  height: 7rem;
  top: 0;
  left: 0;
  overflow: hidden;
  @media(max-width: $bp-small){
    width: 100%;
    padding: 0 4rem; 
    overflow: visible;
  }
  &__bg{
    background-color: $base-color;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 24rem;
    z-index:4;
    height: 7rem;
    top: 0;
    left: 0;
    overflow: hidden;
    @media(max-width: $bp-small){
      width: 100%;
      padding: 0 4rem; 
      overflow: visible;
    }
  }
  &__welcomeTxt{
    font-size: 2rem;
    text-transform: uppercase;
    color: $white-color;
    font-weight: 200;
    letter-spacing: 5px;
    text-align: center;
    transition: 0.5s;
  }
  
  
  ///////SEARCH-BOX
  &__nav2{
    display:  none;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width: $bp-small){
      display: block;
      flex-direction: column;
      top: -100%;
      position: fixed;
      height: 0%;
      width: 0%;
    }
  }
  &__nav{
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width: $bp-small){
      display: none;
      
    }
    
    &-active{
      list-style: none;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-direction: column;
      background-color: $base-color;
      transition: all 1s;
      padding: 10rem 3rem;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      
      

    }
    
    
    &::after{
      content: '';
      display: block;
      width: 80vw;
      height: 1px;
      background-color: #fff;
      @media(max-width: $bp-small){
        display: none;
      }
      
    }
  }
  &__item{
    margin-right: 1rem;
  }
  &__link{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
    padding: 1rem;
    transition: all .3s ease-out ;
    @media(max-width: $bp-small){
     font-size: 6rem;
     text-align: left;
    }
    &:hover{
      border-bottom: 2px solid #e31b6d;
      
    }
  }
}
.hamburger{
  display: none;
  color: #fff;
  z-index: 34;
  @media(max-width: $bp-small){
    display: inline-block;
    width: 4rem;
  }
}


