$base-color: #141316;
$white-color: #f4f7f8;
$white-color2: #e8edf1;


$bp-largest:100em;/////////1600px
$bp-mid-large:84.37em;////////1350px
$bp-large:73.12em;////////1170px
$bp-medium:56.25em;///////900px
$bp-small: 37.5em; ////////600px

